@font-face { // 清楷
	font-family: QingKai;
	src: url('../../fonts/QingKai.ttf');
}
@font-face {// 迷你繁篆
	font-family: MNFanZhuan;
	src: url('../../fonts/MNFanZhuan.ttf');
}
@font-face { // 康熙字典刻印版字体
	font-family: KangXi;
	src: url('../../fonts/KangXi.otf');
}
@font-face { // 淡斋草书
	font-family: DanZhaiCaoShu;
	src: url('../../fonts/DanZhaiCaoShu.ttf');
}
@font-face {// 宋庆行书
	font-family: SongQingXingShu;
	src: url('../../fonts/SongQingXingShu.ttf');
}
@font-face { // 禹卫行书
	font-family: YuWeiXingShu;
	src: url('../../fonts/YuWeiXingShu.TTF');
}
