@font-face {
	font-family: FZShouJin;
	src: url('../../fonts/FZShouJin.ttf');
}
@font-face {
	font-family: XingYan;
	src: url('../../fonts/XingYan.ttf');
}

@font-face {
	font-family: WalkingInTheStreet;
	src: url('../../fonts/WalkingInTheStreet.ttf');
}
@font-face { // 清楷
	font-family: QingKai;
	src: url('../../fonts/QingKai.ttf');
}
@font-face {// 迷你繁篆
	font-family: MNFanZhuan;
	src: url('../../fonts/MNFanZhuan.ttf');
}
@font-face { // 康熙字典刻印版字体
	font-family: KangXi;
	src: url('../../fonts/KangXi.otf');
}
