@font-face {
	font-family: FZShouJin;
	src: url('../../fonts/FZShouJin.ttf');
}
@font-face {
	font-family: XingYan;
	src: url('../../fonts/XingYan.ttf');
}

@font-face {
	font-family: WalkingInTheStreet;
	src: url('../../fonts/WalkingInTheStreet.ttf');
}
@font-face {
	font-family: QingKai;
	src: url('../../fonts/QingKai.ttf');
}
@font-face {
	font-family: MNFanZhuan;
	src: url('../../fonts/MNFanZhuan.ttf');
}
@font-face {
	font-family: KangXi;
	src: url('../../fonts/KangXi.otf');
}

.sj-font{
    font-family: FZShouJin;
}
.xy-font{
    font-family: XingYan;
}
.qk-font{
    font-family: QingKai;
}
.wits-font{
    font-family: WalkingInTheStreet;
}
.mnfz-font{
    font-family: MNFanZhuan;
}
.kx-font{
    font-family: KangXi;
}