@import '../../style/core/index.scss';

// 一个菊花闪烁的频率，数值越小表示 菊花转的越快 
$time: 0.05s;
// 菊花花瓣个数
$item-num: 24;
// 花瓣的宽度和高度
$item-width: 4;
$item-height: 18;
// 菊花初始|最小透明度
$initOpacity: 0.05;
// 菊花转一圈的时间
$animation-duration: $time * $item-num;
// 每一瓣花瓣的旋转角度
$rotateDeg: 360deg/$item-num;



@mixin load-item($index:0) {
    transform: rotate($index * $rotateDeg);
    animation-delay: $time * $index;
}

#flower {
    width: r($item-height*4);
    height: r($item-height*4);
    &>.wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        // background: rgba(64,64,64,0.85);
        // box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
        border-radius: r(6);
        color: #fff;
    }
    .item {
        width: r($item-width);
        height: r($item-height);
        position: absolute;
        left: 50%;
        opacity: $initOpacity;
        background-color: #0e0e0e;
        border-radius: 1px;
        transform-origin: 0 r($item-height*2);
        -webkit-animation: load $animation-duration ease infinite;
    }

    @-webkit-keyframes load {
        0% {
            opacity: 1;
        }
        100% {
            opacity: $initOpacity;
        }
    }
    $itemNum: $item-num;
    @for $i from 1 through $itemNum {
        .item:nth-child(#{$i}) {
            @include load-item($i - 1);
        }
    }
}