$initOpacity: 0;

#flower {

    &>.wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    @-webkit-keyframes load-opacity {
        0% {
            opacity: 1;
        }
        100% {
            opacity: $initOpacity;
        }
    }
    @-webkit-keyframes load-scale {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale($initOpacity);
        }
    }
}